<footer class="site-footer">
  <div class="site-footer-banner">
    <div class="site-footer-box">
      <div class="site-footer-box-title">Get the latest tech insights from Polyrific’s experts</div>
      <div class="site-footer-box-text">Get the latest insights and analysis from Polyrific’s experienced tech professionals. Subscribe to our updates and stay ahead of the curve.</div>
      <div class="site-footer-box-control">
        <input type="text" class="site-footer-box-input" placeholder="Email Address">
        <button class="site-footer-box-button">SUBSCRIBE</button>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="site-footer-text">
      <span>© 2023 Polyrific, LLC. All rights reserved.</span>
      <div class="site-footer-text-right">
        <a href="https://www.polyrific.com" class="site-footer-url"><span>www.polyrific.com</span></a>
        <a href="https://twitter.com/intent/tweet?screen_name=polyrifictech" class="site-footer-twitter"><img src="/assets/images/twitter.svg" alt="logo"> Tweet to @polyrifictech</a>
      </div>
    </div>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/loadmore.js"></script>