<footer class="site-footer h-card">
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li><a class="u-website" href="https://polyrific.com">www.polyrific.com</a></li>
            <li><p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p></li>
          </ul>
        </div>
  
        <div class="footer-col footer-col-5">
          <ul class="social-media-list">
            <li>{{- site.description | escape -}}</li>
            <li><a href="https://twitter.com/intent/tweet?screen_name=polyrifictech" class="twitter-mention-button" data-show-count="false">@polyrifictech</a></li>
          </ul>
        </div>
      </div>
  
    </div>
  
  </footer>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>